/*null*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, section {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  display: block;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  color: #000;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*--------------------*/
.line {
  border-bottom: 1px solid rgb(55, 55, 55);
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.shadow-light {
  box-shadow: 1px 1px 1px 1px rgb(216, 215, 215);
}

.shadow-hard {
  box-shadow: 2px 2px 3px 1px rgb(183, 183, 183);
}

.text-header {
  font-size: 1.6rem;
  font-weight: 700;
}

.btn {
  color: rgb(245, 245, 245);
  cursor: pointer;
  text-wrap: nowrap;
}
.btn * {
  padding: 10px 15px;
  display: block;
}
.btn:hover {
  background-color: rgb(189, 25, 75);
  box-shadow: 1px 1px 1px 1px rgb(216, 215, 215);
}
.btn * {
  color: rgb(55, 55, 55);
}
.btn *:hover {
  color: rgb(245, 245, 245);
}

.hamburger-lines {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 20px;
  width: 20px;
  left: 0;
  top: 0px;
  cursor: pointer;
}
.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.page {
  display: flex;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: rgb(55, 55, 55);
}

.menu {
  align-self: flex-start;
  position: sticky;
  left: 0;
  top: 0;
  height: 100vh;
}

.body {
  flex-grow: 1;
}

.menu {
  padding: 30px 15px;
  background-color: rgb(245, 245, 245);
}
.menu h2 {
  margin-bottom: 20px;
  padding-left: 20px;
}
.menu .minu-line {
  margin-bottom: 20px;
}

.menu-list li * {
  padding-left: 40px;
  background-size: 20px;
  background-position: 10px center;
  background-repeat: no-repeat;
}
.menu-list .dashboard * {
  background-image: url(../images/icons/dashboard_gray.svg);
}
.menu-list .dashboard *:hover {
  background-image: url(../images/icons/dashboard_white.svg);
}
.menu-list .user-profile * {
  background-image: url(../images/icons/account_gray.svg);
}
.menu-list .user-profile *:hover {
  background-image: url(../images/icons/account_white.svg);
}
.menu-list .maps * {
  background-image: url(../images/icons/map_gray.svg);
}
.menu-list .maps *:hover {
  background-image: url(../images/icons/map_white.svg);
}
.menu-list .notifications * {
  background-image: url(../images/icons/notify_gray.svg);
}
.menu-list .notifications *:hover {
  background-image: url(../images/icons/notify_white.svg);
}
.menu-list .support * {
  background-image: url(../images/icons/support_gray.svg);
}
.menu-list .support *:hover {
  background-image: url(../images/icons/support_white.svg);
}

main {
  padding: 30px 20px;
  background-color: rgb(230, 230, 230);
}

.head {
  position: relative;
}
.head h1 {
  margin-bottom: 40px;
}

.form-block {
  padding: 20px;
  background-color: rgb(245, 245, 245);
}

.form-header {
  background-color: rgb(189, 25, 75);
  color: rgb(245, 245, 245);
  padding: 10px 20px;
  line-height: 1.6;
  margin-top: -40px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}
.form-header h2 {
  font-weight: 700;
}

.form {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  grid-template-areas: "company company username username email email" "first-name first-name first-name last-name last-name last-name" "address address address address address address" "city city country country postal postal" "about about about about about about" "btn-form btn-form btn-form btn-form btn-form btn-form";
}
.form input,
.form textarea {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 1.1;
  border-bottom: 1px solid rgb(55, 55, 55);
  background-color: rgb(245, 245, 245);
  margin-left: -10px;
}
.form label {
  padding-left: 10px;
}
.form textarea {
  height: 70px;
  margin-top: 10px;
}

.company {
  grid-area: company;
}

.username {
  grid-area: username;
}

.email {
  grid-area: email;
}

.first-name {
  grid-area: first-name;
}

.last-name {
  grid-area: last-name;
}

.address {
  grid-area: address;
}

.city {
  grid-area: city;
}

.country {
  grid-area: country;
}

.postal {
  grid-area: postal;
}

.about {
  grid-area: about;
}

.btn-form {
  grid-area: btn-form;
  margin-left: auto;
  padding: 10px 0;
  min-width: 280px;
  text-align: center;
  background-color: rgb(189, 25, 75);
}
.btn-form:hover {
  background-color: rgb(161, 22, 64);
}/*# sourceMappingURL=style.css.map */