@import "null.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

@mixin flexible () {
  display: flex;
  justify-content: center;
  align-items: center;
}

// общие стили страницы--------------------------------------------------------
$color-text_light: rgb(245,245,245);
$color-text_dark: rgb(55,55,55);
$color-background-page: rgb(230,230,230);
$color-background-block: rgb(245,245,245);
$color-element_1: rgb(189,25,75);


.line {
  border-bottom: 1px solid $color-text_dark;
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.shadow-light {
  box-shadow: 1px 1px 1px 1px rgb(216, 215, 215);
}

.shadow-hard {
  box-shadow: 2px 2px 3px 1px rgb(183, 183, 183);
}

.text-header {
  font-size: 1.6rem;
  font-weight: 700;
}

.btn {
  color: $color-text_light;
  cursor: pointer;
  text-wrap: nowrap;
  * {
    padding: 10px 15px;
    display: block;
  }
  &:hover {
    background-color: $color-element_1;
    box-shadow: 1px 1px 1px 1px rgb(216, 215, 215)
  }
  * {
    color: $color-text_dark;
    &:hover {
      color: $color-text_light;
    }
  }
} 

.hamburger-lines {
  display: none;
  // display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 20px;
  width: 20px;
  left: 0;
  top: 0px;
  cursor: pointer;
  .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
}
//----------------------------------------------------------------

// сетка страницы --------------------
.page {
  display: flex;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: $color-text_dark;
}

.menu {
  align-self: flex-start;
  position: sticky;
  left: 0;
  top: 0;
  height: 100vh;  
}

.body {
  flex-grow: 1;
}
//---------------------------------------------------------------

// меню блок--------------------------------------------------------
.menu {
  padding: 30px 15px;
  background-color: $color-background-block;
  h2 {
    margin-bottom: 20px;
    padding-left: 20px;
  }
  .minu-line {
    margin-bottom: 20px;
  }
}
// ----------------------------------------------------------------

// меню список--------------------------------------------------------
.menu-list {
  li {
    * {
      padding-left: 40px;
      background-size: 20px;
      background-position: 10px center;
      background-repeat: no-repeat;
    }
  }
  .dashboard * {
    background-image: url(../images/icons/dashboard_gray.svg);
  }
  .dashboard *:hover {
    background-image: url(../images/icons/dashboard_white.svg);
  }
  .user-profile * {
    background-image: url(../images/icons/account_gray.svg);
  }
  .user-profile *:hover {
    background-image: url(../images/icons/account_white.svg);
  }
  .maps * {
    background-image: url(../images/icons/map_gray.svg);
  }
  .maps *:hover {
    background-image: url(../images/icons/map_white.svg);
  }
  .notifications * {
    background-image: url(../images/icons/notify_gray.svg);
  }
  .notifications *:hover {
    background-image: url(../images/icons/notify_white.svg);
  }
  .support * {
    background-image: url(../images/icons/support_gray.svg);
  }
  .support *:hover {
    background-image: url(../images/icons/support_white.svg);
  }
}
//----------------------------------------------------------------













// главный блок
main {
  padding: 30px 20px;
  background-color: $color-background-page;
}
// ----------------------------------------------------------------

// шапка-------------------
.head { 
  position: relative;
  h1 {
    margin-bottom: 40px;
  }
}
// ----------------------------------------------------------------

// блок формы 
.form-block {
  padding: 20px;
  background-color: $color-background-block;
}

.form-header {
  background-color: $color-element_1;
  color: $color-text_light;
  padding: 10px 20px;
  line-height: 1.6;
  margin-top: -40px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  h2 {
    font-weight: 700;
  }
}


.form {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  grid-template-areas: 
  "company company username username email email"
  "first-name first-name first-name last-name last-name last-name"
  "address address address address address address"
  "city city country country postal postal"
  "about about about about about about";

  input, 
  textarea {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 2;
    border-bottom: 1px solid $color-text_dark;
    background-color: $color-background-block;
    margin-left: -10px;
  }
  label {
    padding-left: 10px;
  }
  textarea {
    height: 70px;
  }
}

.company {
  grid-area: company;
}
.username {
  grid-area: username;
}
.email {
  grid-area: email;
}
.first-name {
  grid-area: first-name;
}
.last-name {
  grid-area: last-name;
}
.address {
  grid-area: address;
}
.city {
  grid-area: city;
}
.country {
  grid-area: country;
}
.postal {
  grid-area: postal;
}
.about {
  grid-area: about;
}
.btn-form {
  grid-area: btn-form;
}



// ----------------------------------------------------------------







